footer
  h1.site-end
    img(src='image/グループ 154.svg' alt='loot')
  p 株式会社　loot
  |  .company-adoress
  p
    | 〒890-0054
    br
    | 鹿児島県鹿児島市荒田2丁目75-9-302
  p
    | Tel:099-204-7393
    br
    | E-mail:ifo@loot.co.jp