meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(property="og:title" content='pageTitle')
meta(property="og:type" content="company")
meta(property="og:url" content="****************************************")
meta(property="og:image" content="****************************************")
meta(property="og:site_name" content='siteTitle')
meta(property="og:description" content='pageDesc')
meta(property="og:locale" content="ja_JP")
meta(name="description" content='pageDesc')
meta(name="viewport" content="width=device-width, initial-scale=1")
title page title
link(rel="canonical" href="****************************************")
link(rel="prev" href="****************************************")
link(rel="next" href="****************************************")
link(rel="apple-touch-icon" href="****************************************/apple_touch_icon.png")
link(rel="shortcut icon" href="****************************************/favicon.ico")
link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet")
link(rel="stylesheet" href="/common/css/app.css")
script(src="/common/js/first.js")
script(src="/common/js/vendor.js" defer)
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js" defer></script>
script(src="/common/js/bundle.js" defer)
