header#header
  h1.site-title
    a(href='loot_index.html')
      img(src='image/グループ 154.svg' alt='loot')
  nav
    a(href='#news') News
    a(href='#about') about
    a(href='#service') Service
    a(href='#contact') Contact
    a(href='#works') Works