extends /_layout/_index


block content
  main#main
    section#mainvisual
      p
        | The Company solving
        br
        | Social Lssues
        br
        | with Thechnologies
    // ↑背景background-image
    section#news
      h2.sec-title News
      dl
        dt 2021.01.01
        dd
          span news
          | 株式会社と資本業務提携
        dt 2021.01.01
        dd
          span news
          | オンライン共同プロジェクトにて企業向けソリュージョンを強化
        dt 2021.01.01
        dd
          span media
          | 雑誌に掲載されました
      .readmore
        span Read More
    section#about
      h2.big
        | IMPACT
        br
        | ON THE WORLD
      p
        | アイディアを形に。
        br
        | lootはデジタル領域を専業とし、WEB制作事業をベースに
        br
        | WEBマーケティングからシステム開発までITの分野で幅広くサービス展開しています。
      .readmore
        p Read More
    // ↑背景background-image
    section#service
      h2.sec-title Service
      p 事業内容
      .service-contents
        .service-set
          .service-content
            h3.ser-title Web Design
            p webデザイン事業
            p
              | キリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリスト。
            .readmore
              p Read More
              img(src='' alt='')
          img(src='image/アセット 3.svg' alt='')
        .service-set
          img(src='image/アセット 3.svg' alt='')
          .service-content
            h3.ser-title Advertising Agency
            p 広告代理事業
            p
              | キリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリスト。
            .readmore
              p Read More
              img(src='' alt='')
        .service-set
          .service-content
            h3.ser-title System Development
            p システム開発事業
            p
              | キリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリストキリスト。
            .readmore-btn
              p Read More
              img(src='' alt='')
            img(src='image/アセット 3.svg ' alt=' ')
    section#contact
      h2.sec-title Contact
      p お問い合わせ
      p サンプルサンプルサンプルテキストサンプルサンプルサンプルサンプルサンプルサンプル
      .readmore-btn
        p Read More
        img(src='' alt='')
    section#works
      h2.sec-title Works
      p 制作実績
      .readmore
        p Read More
        // <script>適当</script>
        img(src='' alt='')

